* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}


.body {
	background-color: rgba(146, 145, 137, 0.5);	
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.header {	
	background-color: white;
	background-image: url("background/Kingfisherknives - 014 - img_5177.jpg");
	background-size: cover;
	padding-bottom: .5rem;
}

.header ul {
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
	padding: 1EM;
	padding: 1% 5%
}

.nav li:hover {
	background-color:rgba(255, 255, 255, .2);
	cursor:pointer;
	border-radius: 1.5rem;
}

.nav a {
	color: rgb(223, 219, 193);		
	font-size: 2rem;
	text-decoration: none;	
}

.nav a:hover {
	cursor:pointer;
}

.nav {
	text-align: center;

}


.title {
	font-family:monospace;
	font-size: 2rem;
	text-align: center;	
	border-color: white;
}

.title a {
	text-decoration: none;
}

.title-sub {
	font-size: 0.75em;
	color: rgb(223, 219, 193);	
}

.title1 {
	color:rgb(0, 150, 170);
}

.title2 {
	color: rgb(200, 140, 0);
}

.site-title {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}



.photo1 {
	margin: 3rem;
	margin-top: 1.5em;
	margin-bottom: 0.75em;
	border-radius: 1.75rem;
	min-width: 20em;
	max-width: 80em;
}

.photo1-flex {
	display: flex;
	justify-content: center;
}

.photos {
	margin: 0.75rem;
	border-radius: 1.75rem;
	max-width: 24em;
}

.photos-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}









.footer {
	padding-top: 2.5em;
	padding-bottom: 2em;
	background-color: white;
	background-image: url("background/Kingfisherknives - 014 - img_5177 - Copy.jpg");
	background-size: cover;
	color: rgb(255, 255, 255);
}

.footer h2 {
	margin-bottom: 0;
	padding-left: 1em;
}

.year-footer {
	color: rgb(223, 219, 193);	;
}




.hey {
	display: flex;
	justify-content: center;
	font-size: 30px;
	color:rgb(223, 219, 193);	
}

.hey2 {
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: rgb(78, 77, 72);
}

.text {
	display: flex;
	line-height:32px;
	font-size:20px;
	color:rgb(223, 219, 193);	
	background: rgb(78, 77, 72);	
	margin-left:20%;
	margin-bottom: 2rem;
	border-radius: 1.75rem;
	max-width: 60%;
}


	blockquote:before, blockquote:after {
	vertical-align: middle;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 1000;
	color: rgba(146, 145, 137, 1);	
}

	blockquote:before {
	content: '\201C';
}

	blockquote:after {
	content: '\201D';
}

.link a {
	text-decoration: none;	
	color: rgb(223, 219, 193);
}

.link {
	border: solid;
	padding: 3px;
	border-radius: 7.5px;
	border-width: 1px;	
}

.link:hover {
	background-color: rgba(223, 219, 193, 0.25);;
}

.logo {
	padding: 2em;
	display: flex;
	flex-flow: column;
}

.media-logo {
	width: 25%;
	padding: 2vh;
	border: solid;
	border-radius: 2em;
	border-color: rgb(78, 77, 72);	
	background-color: rgb(223, 219, 193);
	margin-bottom: 2em;
}


.logo {
	text-align: center;
	padding: 0;
	list-style-type: none;
}

.contact {
	display: flex;
	justify-content: center;
	font-size: 10vw;
	font-weight: 500;

	
}

.contact a {
	text-decoration: none;	
	color: white;
	padding: 5% 7.5% 5% 7.5%;
	border: solid;
	border-radius: 2rem;
	border-color: rgb(78, 77, 72);	
	background-color: rgb(223, 219, 193);
}

.rick {
	padding: 1rem;
	padding-bottom: 2rem;
	display: flex;
	justify-content: center;
}

.vid {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 1rem;
	border-top: solid;
	border-bottom: solid;
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-color: rgb(78, 77, 72);
	border-radius: 2em;
}